Package: elpack
Version: 0.7
Section: base
Priority: optional
Architecture: all
Depends: curl, logrotate (>= 3.5), lsb-release
Maintainer: Mega Crab <you@email.com>
Description: Configs for reverbrain proj
 When you need some sunshine, just run this small program!
 instruct: http://ubuntuforums.org/showthread.php?t=910717
